header {
    background: linear-gradient(to bottom right, #0073e6, #005bb5);
    color: white;
    padding: 50px 0;
    text-align: center;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/*header{
    background: url('IMG2.webp') no-repeat center center;
    background-size: cover;
    color: white;  
    padding: 100px 0;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); 
}
*/
footer {
margin-top: auto;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

header a.btn {
    margin-top: 20px;
}

/* Standardowy widok (desktop) */
.language-buttons {
    display: flex;
    justify-content: flex-end; /* Wyrównanie do prawej */
    align-items: center;
}

/* Widok mobilny */
@media (max-width: 768px) {
    /* Linki nawigacyjne ustawione na lewo */
    .navbar-nav {
        flex-direction: column; /* Linki w kolumnie */
        align-items: flex-start; /* Wyrównane do lewej */
    }

    /* Przyciski języka wyśrodkowane na dole */
    .language-buttons {
        justify-content: center; /* Wyśrodkowanie */
        margin-top: 15px;
        width: 100%; /* Przyciski na pełną szerokość */
    }
	
	/*Pasek quick links*/
	.quick-links .btn {
        width: 100%; /* Przyciski zajmują całą szerokość */
    }
}

@